{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "quotes": [1],
    "spaced-comment": [0],
    "no-unused-vars": [0],
    "no-empty": [0],
    "react/wrap-multilines": [0],
    "react/no-multi-comp": [0],
    "no-constant-condition": [0],
    "react/jsx-no-bind": [1],
    "react/prop-types": [1],
    "react/forbid-prop-types": [0],
    "arrow-body-style": [0],
    "react/prefer-stateless-function": [0],
    "semi": [1],
    "global-require": [0],
    "no-shadow": [0],
    "no-useless-computed-key": [0],
    "no-underscore-dangle": [0],
    "array-bracket-spacing":[0],
    "func-names":[0],
    "import/no-extraneous-dependencies":[1],
    "prefer-arrow-callback":[1],
    "no-param-reassign": [0],
    "eol-last": [1],
    "no-console": [1],
    "react/jsx-filename-extension": [0],
    "prefer-template": [0],
    "import/newline-after-import": [1],
    "import/no-dynamic-require": [0],
    "max-len": [1],
    "comma-dangle": [0],
    "quote-props": [0],
    "object-shorthand":[1],
    "react/jsx-space-before-closing": [0],
    "strict": [0],
    "eqeqeq": [1]
  },
  "globals": {
    "api": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
